__pycache__/calculations.cpython-312.pyc
__pycache__/scrap_price_BCV.cpython-312.pyc
__pycache__/GUI.cpython-312.pyc
__pycache__/main.cpython-312.pyc
src/__pycache__/calculations.cpython-312.pyc
src/__pycache__/scrap_price_BCV.cpython-312.pyc
src/__pycache__/__init__.cpython-312.pyc
src/__init__.py
src/__pycache__/about.cpython-312.pyc
src/__pycache__/delete_module.cpython-312.pyc
src/__pycache__/get_sub_total.cpython-312.pyc
src/__pycache__/principal_button_command.cpython-312.pyc
src/lang/__pycache__/es.cpython-312.pyc
src/lang/__pycache__/language.cpython-312.pyc
